.homebody {
    background-image: url("background.png");
    font-size: 30px;
}

.writtenOverviewBody {
    font-size: 20px;
}

.erdBody {
    background: url("finalERD.png") no-repeat center center fixed;
    background-size: contain;
    height: 100%;
    overflow: hidden;
}

.schemaBody {
    background: url("updatedSchema.png") no-repeat center center fixed;
    background-size: contain;
    height: 100%;
    overflow: hidden;
}

.queryList {
    font-size: 20px;
}

.schema {
    
}