<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Pokemon Homepage</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body class="homebody">
        <h1>CSC455 Spring 2022 Group Project</h1>
        <h1>Welcome to our Pokemon Database!</h1>
        <h2>Braden Helmer, Kole Bostic, Tyler Anderson, Gerardo Hernandez-Romero</h2>
        <div>
            <h3>Technologies: </h3>
            <ol>
                <li>Database: AWS RDS for MySQL (Free)</li>
                <li>Front End: Python and Flask</li>
                <li>Hosting Service: <a href="https://pythonanywhere.com">Python Anywhereq</a></li>
            </ol>
        </div>
        <div class="section_links">
            <h3>Link to each section of project guidelines: </h3>
            <ol>
                <li><a href="{{ url_for('written_overview') }}  ">Written Overview/Project Proposal</a></li>
                <li><a href="{{ url_for('erd_diagram') }}">ER Diagram</a></li>
                <li><a href="{{ url_for('logical_schema') }}">Logical Schema</a></li>
                <li><a>Table Design, Relationships, & Data</a></li>
                <li><a>Supporting Queries and Functionality</a></li>
            </ol>
        </div>

    </body>

</html>